*{
    margin:0%;
    padding:0%;
}
.info{
    margin-top: 5%;
    margin-bottom:3%;
}
.info h5{
    margin-bottom:2%;
    color:#059faa;
}
.card{
    width:90%;
    height:57%;
}
iframe{
    width:100%;
    height: 100%;
}
.info,.card{
<<<<<<< HEAD
    margin-left: 4%;
}
=======
    margin-left: 0%;
    margin-right: 5%;
}

>>>>>>> 5ee098bc1bdb921a69ea3ed63cff1fd305ead1f4
