
*{
    margin:0%;
    padding:0%;
}


#navbarRow{
    width: 100%;
    height: 50px;
   
}
.navbar{
    width: 100%;
    height:100% ;
    background-color: #059faa;

}
.tamanho img{
    margin:2%;
    height:55px;
    width: 55px;
}
.navbar-light .navbar-toggler {
    color: #ffc61d;
    border-color: #ffc61d;
}
.navbar-light .navbar-toggler:hover{
    border-color: #ffc61d;
    box-shadow:  #ffc61d;
}
#logo{
    margin-left:10%;
    width: 100%;
}
.form-inline{
    margin-right:2% ;
}
.btn-outline{
    width: 50px;
    height: 30px;
    color:#dedcc5;
    border-color:#dedcc5;
}
.btn-outline:hover{
    color:#059faa;
    background-color: #dedcc5;
    border-color:#dedcc5;
}
