<div class="row">
    <div class="col-md-12 mt-5 mb-5">
        <h1>Precisa de ajuda? Sem problemas!</h1>
    </div>
</div>

<div class="row mt-3 mb-5">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div id="accordion">

            <div class="card mb-2">
                <div class="card-header ">
                    <a class="card-link mb-5" data-toggle="collapse" href="#collapse1">
                        <h4>Por que não posso vender?</h4>
                    </a>
                </div>

                <div id="collapse1" class="collapse" data-parent="#accordion">
                    <div class="card-body pl-3 rounded-bottom">
                        A iniciativa COMUD se baseia em moda e desenvolvimento sustentável, ou seja, não visa lucros ou
                        benefício próprio em nenhum momento. O intuito em si é de gerar COnsciência de pensamentos
                        consumistas e a MUdança e transformação de acúmulos em felicidade, não em aquisição de bens.

                    </div>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-header  ">
                    <a class="card-link mb-5" data-toggle="collapse" href="#collapse2">
                        <h4>Como doar?</h4>
                    </a>
                </div>

                <div id="collapse2" class="collapse" data-parent="#accordion">
                    <div class="card-body pl-3 rounded-bottom">
                        Para Doar é necessário ter um cadastro ativo para então, cadastrar os produtos que quer doar. Podes também escolher se quer doar à uma instituição específica parceira da COMUD, à alguma ação específica ou mesmo escolher contatar a ONG diretamente.


                    </div>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-header  ">
                    <a class="card-link mb-5" data-toggle="collapse" href="#collapse3">
                        <h4>Como trocar?</h4>
                    </a>
                </div>

                <div id="collapse3" class="collapse" data-parent="#accordion">
                    <div class="card-body pl-3 rounded-bottom">
                        Para mudar e desacumular, é necessário ter cadastro ativo. Uma vez que tenha configurado sua conta, pode configurar seu varal de exposição dos acúmulos para que pessoas interessadas façam ofertas e lances de troca com o que estes possuem em seu próprio varal. Você pode também visitar a página de varal de outras pessoas e ofertar caso ame e queria deixar aquele acúmulo feliz novamente. (:

                    </div>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-header  ">
                    <a class="card-link mb-5" data-toggle="collapse" href="#collapse4">
                        <h4>Como me cadastro?</h4>
                    </a>
                </div>

                <div id="collapse4" class="collapse" data-parent="#accordion">
                    <div class="card-body pl-3 rounded-bottom">
                        Para se cadastrar é só clicar no botão de “Login” no canto superior direito de toda página. Nessa nova página então, haverá um botão para que se cadastre e comece a mudar!

                    </div>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-header  ">
                    <a class="card-link mb-5" data-toggle="collapse" href="#collapse5">
                        <h4>Como cadastro minhas roupas?</h4>
                    </a>
                </div>

                <div id="collapse5" class="collapse" data-parent="#accordion">
                    <div class="card-body pl-3 rounded-bottom">
                            Para cadastrar seus desapegos você precisa preencher as informações específicas dele – como condição e tipo de roupa – para que assim outras pessoas querendo mudar os encontrem mais facilmente. E claro, não pode faltar aquelas fotinhos para valorizar esse acúmulo e ele ter mais chances de encontrar uma nova casinha! s2


                    </div>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-header  ">
                    <a class="card-link mb-5" data-toggle="collapse" href="#collapse6">
                        <h4>Como contato a pessoa com quem troquei?</h4>
                    </a>
                </div>

                <div id="collapse6" class="collapse" data-parent="#accordion">
                    <div class="card-body pl-3 rounded-bottom">
                            Assim que você solicitar uma troca (ou vice-versa) será iniciada uma conversa com o outro usuário via chat, para que então possam analisar se essa mudança será boa para ambos! Assim que firmarem a troca, podem combinar de se encontrarem pessoalmente – sempre em locais públicos, hein? – Ou então podem optar pelo sistema de frete, como preferirem e for melhor para vocês!


                    </div>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-header  ">
                    <a class="card-link mb-5" data-toggle="collapse" href="#collapse7">
                        <h4>Como é calculado o frete e/ou o prazo?</h4>
                    </a>
                </div>

                <div id="collapse7" class="collapse" data-parent="#accordion">
                    <div class="card-body pl-3 rounded-bottom">
                            Primordialmente, o papel da COMUD é gerar consciência e conectar os interessados em mudança! Por isso, os custos de frete são arcados e de total responsabilidade dos usuários. Mas claro, nunca te deixaríamos na mão; O sistema gerará a declaração de conteúdo necessária para postagem nos correios, porém:
                            Frete: O frete tem seu valor baseado na tabela dos Correios, de acordo com peso e tamanho.
                            Prazo: O tempo de entrega pode variar juntamente com a distância entre os trocadores, situações específicas e ocasionais dos Correios.

                    </div>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-header  ">
                    <a class="card-link mb-5" data-toggle="collapse" href="#collapse8">
                        <h4>Não recebi minha troca, e agora?</h4>
                    </a>
                </div>

                <div id="collapse8" class="collapse" data-parent="#accordion">
                    <div class="card-body pl-3 rounded-bottom">
                            Os Correios entregam o produto no endereço de destinatário cadastrado no momento da postagem, de acordo com o prazo e condições estipulado pelos mesmos. Verifique se alguém próximo, como um familiar, amigo ou vizinho, recebeu por você em tal endereço ou cheque com os Correios qual a situação do envio.

                    </div>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-header  ">
                    <a class="card-link mb-5" data-toggle="collapse" href="#collapse9">
                        <h4>Quer cancelar, desistir ou devolver a troca?</h4>
                    </a>
                </div>

                <div id="collapse9" class="collapse" data-parent="#accordion">
                    <div class="card-body pl-3 rounded-bottom">
                            Cancelar: Para cancelar uma troca que já foi combinada, há uma seção específica na seção “Suas trocas” em sua página de perfil. Lembre-se de contatar seu companheiro de troca previamente para que ele não tenha enviado a parte dele ainda. 
                            Desistir: Para caso já postada a troca e você ainda assim queira desistir, o contato deve ser feito aos Correios para tomarem as providências e quem arcará com o frete de cancelamento será o usuário que efetuou a desistência.
                            Devolver: Caso a troca já tenha chego em seu local, tenha também a COnsciência de a devolver! Até mesmo na COMUD há consequências.
''
                    </div>
                </div>
            </div>

            <div class="card mb-2">
                <div class="card-header">
                    <a class="card-link mb-5" data-toggle="collapse" href="#collapse10">
                        <h4>Problemas com cadastro, conta e senha?</h4>
                    </a>
                </div>

                <div id="collapse10" class="collapse" data-parent="#accordion">
                    <div class="card-body pl-3 rounded-bottom">
                            Cadastro: Caso seu cadastro não seja efetuado, haverá um “span” com a mensagem dizendo qual foi o motivo do erro, como “Dado inválido”, podendo ser um e-mail inválido ou já cadastrado, nome ou telefone inválido. Assim como a falta de preenchimento de algum campo não efetuará um cadastro.
                            Conta e senha: Caso esqueça seu nome de usuário, e-mail vinculado ou senha da conta, há um campo específico na página de “Login” para recuperação da conta. Há também a opção de “Receber Suporte” abaixo caso não se resolva.
                            
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="col-md-3"></div>
</div>

<hr/>
<app-form-faq> </app-form-faq>