<div class="container-fluid">
  <div class="row mt-5 mb-3">
    <div class="col-md-2 icon">
      <a class="btn " data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        <img src="../../assets/IconsProdutos/tshirt_1206892.png" alt="">
        <h4>Tamanho</h4>
      </a>


      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <div class=" d-flex flex-row ">
            <input type="checkbox" id="PP">
            <label for="PP">PP</label>
          </div>
          <div class="d-flex flex-row ">
            <input type="checkbox" id="P">
            <label for="P">P</label>
          </div>
          <div class="d-flex flex-row ">
            <input type="checkbox" id="M">
            <label for="M">M</label>
          </div>
          <div class="d-flex flex-row ">
            <input type="checkbox" id="G">
            <label for="G">G</label>
          </div>
          <div class="d-flex flex-row ">
            <input type="checkbox" id="GG">
            <label for="GG">GG</label>
          </div>
          <div class="d-flex flex-row ">
            <input type="checkbox" id="XG">
            <label for="XG">XG</label>
          </div>
          <div class="d-flex flex-row ">
            <input type="checkbox" id="XXG">
            <label for="XXG">XXG</label>
          </div>
          <div class="d-flex flex-row ">
            <input type="checkbox" id="Unico">
            <label for="Unico">Unico</label>
          </div>

        </div>
      </div>

    </div>
    <div class="col-md-2 icon">
      <a class="btn " data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        <img src="../../assets/IconsProdutos/tshirt_1206893.png" alt="">
        <h4>Condição</h4>
      </a>


      <div class="collapse" id="collapseExample1">
        <div class="card card-body">
          <div class=" d-flex flex-row ">
            <input type="checkbox" id="NOVO">
            <label for="NOVO">NOVO</label>
          </div>
          <div class="d-flex flex-row ">
            <input type="checkbox" id="SEMI-NOVO">
            <label for="SEMI-NOVO">SEMI-NOVO</label>
          </div>
          <div class="d-flex flex-row ">
            <input type="checkbox" id="USADO">
            <label for="USADO">USADO</label>
          </div>


        </div>
      </div>
    </div>
    <div class="col-md-2 icon">
      <a class="btn " data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        <img src="../../assets/IconsProdutos/tshirt_1206894.png" alt="">
        <h4>Seção</h4>
      </a>


      <div class="collapse" id="collapseExample2">
        <div class="card card-body">
          <div class=" d-flex flex-row ">
            <input type="checkbox" id="INFANTIL">
            <label for="INFANTIL">INFANTIL</label>
          </div>
          <div class="d-flex flex-row ">
            <input type="checkbox" id="ADULTO">
            <label for="ADULTO">ADULTO</label>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-2 icon">
      <a class="btn " data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        <img src="../../assets/IconsProdutos/tshirt_1206895.png" alt="">
        <h4>Categoria</h4>
      </a>


      <div class="collapse" id="collapseExample3">
        <div class="card card-body">
          <div class=" d-flex flex-row ">
            <input type="checkbox" id="CALÇA">
            <label for="CALÇA">CALÇA</label>
          </div>
          <div class="d-flex flex-row ">
            <input type="checkbox" id="MOLETOM">
            <label for="MOLETOM">MOLETOM</label>
          </div>
          <div class="d-flex flex-row ">
            <input type="checkbox" id="VESTIDO">
            <label for="VESTIDO">VESTIDO</label>
          </div>
          <div class="d-flex flex-row ">
            <input type="checkbox" id="BLUSA">
            <label for="BLUSA">BLUSA</label>
          </div>
          <div class="d-flex flex-row ">
            <input type="checkbox" id="CROPPED">
            <label for="CROPPED">CROPPED</label>
          </div>
          <div class="d-flex flex-row ">
            <input type="checkbox" id="CASACO">
            <label for="CASACO">CASACO</label>
          </div>
          <div class="d-flex flex-row ">
            <input type="checkbox" id="CAMISA">
            <label for="CAMISA">CAMISA</label>
          </div>
          <div class="d-flex flex-row ">
            <input type="checkbox" id="PIJAMA">
            <label for="PIJAMA">PIJAMA</label>
          </div>
          <div class="d-flex flex-row ">
            <input type="checkbox" id="SAIA">
            <label for="SAIA">SAIA</label>
          </div>
          <div class="d-flex flex-row ">
            <input type="checkbox" id="BERMUDA">
            <label for="BERMUDA">BERMUDA</label>
          </div>
          <div class="d-flex flex-row ">
            <input type="checkbox" id="SHORT">
            <label for="SHORT">SHORT</label>
          </div>
          <div class="d-flex flex-row ">
            <input type="checkbox" id="SHORT">
            <label for="SHORT">SHORT</label>
          </div>
          <div class="d-flex flex-row ">
            <input type="checkbox" id="JAQUETA">
            <label for="JAQUETA">JAQUETA</label>
          </div>
          <div class="d-flex flex-row ">
            <input type="checkbox" id="MACACAO">
            <label for="MACACAO">MACACÃO</label>
          </div>
          <div class="d-flex flex-row ">
            <input type="checkbox" id="JARDINEIRA">
            <label for="JARDINEIRA">JARDINEIRA</label>
          </div>
          <div class="d-flex flex-row ">
            <input type="checkbox" id="POLO">
            <label for="POLO">POLO</label>
          </div>






        </div>
      </div>
    </div>
    <div class="col-md-4 teste">
      <div class="pesquisa">
        <input class="input text-center mt-5 ml-5 mb-1" type="text" placeholder="O que deseja pesquisar?"
          [(ngModel)]="idbusca" id="inputBusca">
        <br />
        <button class="btn btn-outline ml-5" id="busca" (click)="pesquisar();">Buscar</button>
        <button class="btn btn-outline ml-1" (click)="pesquisarTodos();">Mostrar todos</button>
        <br />
        <span *ngIf='_msgErro'>{{_msgErro}}</span>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-12">

    </div>
  </div>
</div>

<div *ngIf="lista == true">
  <div class="row teste">

    <div class="col-md-3 tamanho" *ngFor="let busca of idproduto">
      <div class="card show">
        <img src="{{ busca.linkFoto }}">

        <button class="butnFa m-auto" data-toggle="modal" data-target=".bd-example-modal-lg"
          (click)="atribuiModal(busca.id);">
          <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>


<!--Estrura modal-->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <img src="{{prodModal.linkFoto }}">
        <h3><strong>Item :</strong> {{prodModal.nome}} </h3>
        <p>{{prodModal.detalhes }} </p>
        <div class="row  estilizaModal">
          <div class="col-md-2">
            <p>Tamanho : {{prodModal.tamanho}} </p>
          </div>
          <div class="col-md-3">
            <p>Condição : {{prodModal.condicao}} </p>
          </div>
          <div class="col-md-3">
            <p>Classificação : {{prodModal.classificacao}} </p>
          </div>
          <div class="col-md-3">
            <p>Categoria : {{prodModal.categoria}} </p>
          </div>
        </div>
        <div class="row d-flex flex-row-reverse bd-highlight">
          <button type="button" class="btn butnFa ">Trocar</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Fim estrutura modal-->






<div *ngIf="lista == false">
  <div *ngIf="_idproduto">
    <div class="row">
      <div class="col-md-4">

      </div>
      <div class="col-md-4 tamanho">
        <div class="card show">
          <img src="{{ _idproduto.linkFoto }}">
          <p><strong>ID : </strong> {{ _idproduto.id}} </p>
          <p><strong>Produto : </strong> {{ _idproduto.nome}} </p>
          <p><strong>Tamanho : </strong> {{_idproduto.tamanho}} </p>
          <p><strong>Condição : </strong> {{_idproduto.condicao}} </p>
          <p><strong>Classificação : </strong> {{_idproduto.classificacao}} </p>
          <p><strong>Categoria : </strong> {{_idproduto.categoria}} </p>
          <p><strong>Detalhes : </strong> {{ _idproduto.detalhes }} </p>
          <button id="altera" class="btn btn-outline " data-toggle="modal" data-target="#exampleModal"><a
              [routerLink]="['/editaproduto',_idproduto.id]" class="text-light"> Alterar </a></button>
        </div>
      </div>
      <div class="col-md-4">

      </div>

    </div>
  </div>
</div>