<div class="container-fluid">
  <div class="row mb-3">
    <div class="col-md-12">
      <div class="pesquisa">
        <button class="btn btn-outline ml-5 mb-2" id="cad" [routerLink]="'/cadastroproduto'">Cadastre seu
          Produto</button>
        <br />
        <input class="input text-center ml-5 mb-1" type="text" placeholder="O que deseja pesquisar?"
          [(ngModel)]="idbusca" id="inputBusca">
        <br />
        <button class="btn btn-outline ml-5" id="busca" (click)="pesquisar();">Buscar</button>
        <button class="btn btn-outline ml-1" (click)="pesquisarTodos();">Mostrar todos</button>
        <br />
        <span *ngIf='_msgErro'>{{_msgErro}}</span>
      </div>
    </div>
  </div>
</div>

<div *ngIf="lista == true">
  <div class="row">

    <div class="col-md-4 tamanho" *ngFor="let busca of idproduto">
      <div class="card show">
        <img src="{{ busca.linkfoto }}">
        <p><strong>Produto : </strong> {{ busca.nome}} </p>
        <p><strong>Tamanho : </strong> {{busca.tamanho}} </p>
        <p><strong>Condição : </strong> {{busca.condicao}} </p>
        <p><strong>Classificação : </strong> {{busca.classificacao}} </p>
        <p><strong>Categoria : </strong> {{busca.categoria}} </p>
        <p><strong>Detalhes : </strong> {{ busca.detalhes }} </p>
      </div>
    </div>
  </div>
</div>

<div *ngIf="lista == false">
  <div *ngIf="_idproduto">
    <div class="row">
      <div class="col-md-4">

      </div>
      <div class="col-md-4 tamanho">
        <div class="card show">
          <img src="{{ busca.linkfoto }}">
          <p><strong>Produto : </strong> {{ busca.nome}} </p>
          <p><strong>Tamanho : </strong> {{busca.tamanho}} </p>
          <p><strong>Condição : </strong> {{busca.condicao}} </p>
          <p><strong>Classificação : </strong> {{busca.classificacao}} </p>
          <p><strong>Categoria : </strong> {{busca.categoria}} </p>
          <p><strong>Detalhes : </strong> {{ busca.detalhes }} </p>
        <button id="altera" class="btn btn-outline " data-toggle="modal" data-target="#exampleModal"><a
          [routerLink]="['/editaproduto',_idproduto.idProduto]" class="text-light"> Alterar </a></button>
        </div>
      </div>
      <div class="col-md-4">

      </div>
      
    </div>
  </div>
</div>