*{
  margin: 0%;
  padding: 0%;
  font-family: 'Segoe UI', sans-serif;
}
nav{
  color: #000;
}
ul{
  color: #000;
}
button{
  background-color: #FFF;
  border: #000 solid 2px;
  border-radius: 7px;
  padding: 5px;
  width: 75px;
  margin-top: 8px;
  margin-right: 24px;
  font-weight: bold;
}
h1{
  text-align: center;
}
.sobrecomud{
  justify-content: center;
  text-align: center;
}
h3{
  text-align: center;
}

.flip-card-front img{
  height: 100% ;
  width: 100% ;
  filter: invert(21%);
  border-radius:150px 150px 150px 150px;
}

.margem{
  margin:10px;
  margin-left: 23px;
}

.flip-card {

width: 250px;
height: 250px;
perspective: 1000px;

}

.flip-card-inner {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.6s;
transform-style: preserve-3d;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
border-radius:150px 150px 150px 150px;

}

.flip-card:hover .flip-card-inner {
transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
position: absolute;
width: 100%;
height: 100%;
backface-visibility: hidden;
}

.flip-card-front {
background-color: #bbb;
color: black;
border-radius:150px 150px 150px 150px;

}

.flip-card-back {
transform: rotateY(180deg);
border-radius:150px 150px 150px 150px;

}
.flip-card-back p{
  font-size: 14px;
  text-align: center;
  margin-top: 45px;
  margin-right: 25px;
  margin-left: 25px;
  
}
.flip-card-front h3{
position: absolute;
color:black;
text-align: center;
top: 135px;
width: 250px;
line-height: 30px;
height: 30px;
}
.flip-card-front p{
position: absolute;
color:black;
text-align: center;
top: 175px;
width: 250px;
line-height: 30px;
height: 30px;
}

footer{
  background-color: #595d44;
  text-align: center;
}
