*{
    margin:0%;
    padding:0%;
}
#titulo h1{
    text-align: center;
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    color:#059faa;
}
#titulo{
    margin-top: 5%;
    margin-bottom: 3%;
}
.row{
    margin-top: 3%;
}  .btn{
    width: 60px;
    background-color: #059faa;
    color:#dedcc5;
}
.btn-outline,#cadastro .btn-outline{
    width: 90px;
    height: 35px;
    color:#dedcc5;
    border-color:#dedcc5;
}
.btn-outline:hover,#cadastro .btn-outline:hover{
    color:#059faa;
    background-color: #dedcc5;
    border-color:#dedcc5;
}
.btn{
    width: 250px;
    background-color: #059faa;
    color:#dedcc5;
    margin-bottom: 2%;
}
.col-md-6, .col-md-8{
    display: flex;
    align-items: center;
    justify-content: center;
  }
