*{
    margin:0%;
    padding:0%;
}

.form-group{
    width:80%;
    margin:auto;
}
label{
    font-family: 'Mukta', sans-serif;
    font-size:14px;
    color:rgb(167, 167, 167);
    margin-bottom: 0%;
    margin-top:2%;
}
textarea{
    resize: none;
}
span{
    font-size:12px;
    color:red;
}
.btn{
    margin-top:3%;
    width: 60px;
    background-color: #059faa;
    color:#dedcc5;
    margin-left: 43%;
  
}
.btn-outline,#cadastro .btn-outline{
    width: 90px;
    height: 35px;
    color:#dedcc5;
    border-color:#dedcc5;
}
.btn-outline:hover,#cadastro .btn-outline:hover{
    color:#059faa;
    background-color: #dedcc5;
    border-color:#dedcc5;
}
.row{
    margin-top: 7%;
}
.linha{
    margin-top: 2%;
}
.texto{
    color:#dedcc5;
    text-align: center;

}
p{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:12px;
    color:#72726c;
}

#cadastro{
    margin-top:7%;
}
#cadastro .btn{
    margin-top:3%;
    width: 300px;
    background-color: #059faa;
    color:#dedcc5;
    margin-left: 28%;
}

span{
    text-align: center;
    margin-top: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 1%;
    margin-left: 35%;

}#erro{
    font-size:15px;
    margin-right: 18%;
    color:red;
}

