<div class="form-group">
    <label for="nome">Email</label>
    <input type="email" class="form-control" id="nome" placeholder=" Digite seu email" [(ngModel)]="nome"
        maxlength="15" required>
    <span *ngIf='_msgErroN'>{{_msgErroN}}</span>
</div>

<div class="form-group">
    <label for="senha">Senha</label>
    <input type="password" class="form-control" id="senha" placeholder=" Digite a senha" [(ngModel)]="senha"
        maxlength="25" required>
    <span *ngIf='_msgErroS'>{{_msgErroS}}</span>
    <span *ngIf='_msgErroSFA'>{{_msgErroSFA}}</span>
    <span *ngIf='_msgErroSFO'>{{_msgErroSFO}}</span>
</div>

<button type="submit" class="btn btn-outline " (click)="validacao()">Login</button>

<div class="row">
    <div class="col-md-5 linha">
        <hr>
    </div>
    <div class="col-md-2 texto">
        <p>ou</p>
    </div>
    <div class="col-md-5 linha">
        <hr>
    </div>
</div>
<div id="cadastro">
    <p>Ao me cadastrar, concordo com todos os termos de serviço e <br>
        políticas de privacidade da COMUD.</p>
    <button type="submit" class="btn btn-outline " (click)="validacao()" data-toggle="modal"
        data-target="#exampleModal">Cadastre-se</button>
    <app-modal-cad></app-modal-cad>
</div>