

    <div class="form-group">
        <label for="nome">Nome Completo</label>
        <input type="text" class="form-control" id="nome" placeholder=" Digite o nome completo" [(ngModel)]="nome" maxlength="15" required >
        <span *ngIf='_msgErroN'>{{_msgErroN}}</span>
    </div>

    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder=" name@example.com.br" [(ngModel)]="email" maxlength="25" required>
        <span *ngIf='_msgErroE'>{{_msgErroE}}</span>
    </div>

    <div class="form-group">
        <label for="Telefone">Telefone</label>
        <input type="tel" class="form-control" id="tel" [(ngModel)]="tel" placeholder=" (XX) 99999-9999" maxlength="11" required>
        <span *ngIf='_msgErroT'>{{_msgErroT}}</span>
    </div>

    <div class="form-group">
        <label for="senha">Senha</label>
        <input type="password" class="form-control" id="senha" placeholder=" Digite a senha" [(ngModel)]="senha" maxlength="25" required>
        <span *ngIf='_msgErroS'>{{_msgErroS}}</span>
        <span *ngIf='_msgErroSFA'>{{_msgErroSFA}}</span>
        <span *ngIf='_msgErroSFO'>{{_msgErroSFO}}</span>
    </div>

    <div class="form-group">
        <label for="ConfirmarSenha">Confirmar Senha</label>
        <input type="password" class="form-control" id="ConfSenha" [(ngModel)]="ConfSenha" placeholder=" Confirme a senha" maxlength="11" required>
        <span *ngIf='_msgErroCS'>{{_msgErroCS}}</span>
    </div>

    <button type="submit" class="btn btn-outline " (click)="validacao()">Enviar</button>

