<div class="row sobrecomud">
    <div class="col-md-2">
    </div>
    <div class="col-md-8 " id="TextoPrincipal">
        <h1>SOBRE O PROJETO</h1>
        <p>A iniciativa <b>COMUD</b> se baseia em moda e desenvolvimento sustentável, ou seja, não visa
            lucros ou benefício próprio em nenhum momento. O intuito em si é de gerar
            <b>CO</b>nsciência de pensamentos consumistas e a <b>MU</b>dança e transformação de acúmulos
            em felicidade, não em aquisição de bens.</p>
    </div>
    <div class="col-md-2">
    </div>
</div>